{% extends "lab_4/layout/base.html" %}

{% load static from staticfiles %}

{% block content %}
<style>
.circular-image{
        display: block;
        margin: 0 auto;
        width: 175px;
        height: 175px;
        border-radius:  50%;
    }
</style>
<h1>Yuvitri Annisa Dwityafani</h1>
<hr/>
<img src= 'https://i.imgur.com/Znq77qN.jpg' class="circular-image"/>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>About Me</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>


<section name="form">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}
