{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center;background-color: rgb(150, 161, 255)"> Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th style ="background-color:Tomato">Tanggal</th>
                <th style="background-color:DodgerBlue">Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div> 
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="border: 2px solid Tomato;">
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid Tomato;">
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button style="border: 2px solid Tomato;"  type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
