{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
       
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="background-color: lightgray">
    <div class="center_screen">
        <p style ="background-color:Tomato ; font color: red" class="status">Hello, this is {{ name }}. {{ content }} Check my <a id="href_bio">Biography</a>.</p>
    </div>
</body>
<script>
    $(document).ready(function(){
        $("#href_bio").click(function(){
            window.location.href = '/lab-2-addon/'
        });

    });
</script>
</html>

<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}

